{"filter":false,"title":".htaccess","tooltip":"/libs/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":13},"end":{"row":0,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":35,"mode":"ace/mode/apache_conf"}},"timestamp":1622651570266,"hash":"cecd2af742ea6b06371b7b9961bc8fc6ab428dd0"}